*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image: url('hp1.webp');
    height: 100vh ;
    background-size: cover;
    background-position: center;
}

.nav-bar
{
    background:rgba(243, 137, 153, 0.638) ;
    height: 90px
}

.logo{
    margin-left:70px;
    height: 100px;

}
.Homepage {
   float: right;
   list-style:none ;
   margin: 20px;
}

.Homepage li{
    display: inline-block;
    margin: 10px 5px ;
}

.Homepage li a{
    text-decoration: none ;
    color: #030303;
    padding: 5px 10px;
    font-family: 'Poppins',sans-serif;
    letter-spacing: 2px;
    border: 3px solid #000000;
    font-weight: bold;
}

.Homepage li a:hover{
    background: #ffffff;
    transition: .4s;
    color: #000;
}

.welcome{
    position: relative;
    text-align: center;
    font-family: 'Arial, Helvetica', sans-serif;
    color: #000000;
    top: 100px;
}

.welcome  h1{
    font-size: 40px;
    margin: 25px;
}

.btn{
    font-size: 18px;
    letter-spacing: 2px;
    margin: 5px;
    padding: 7px 10px;
    text-decoration: none;
    border: 3px solid #000000;
    color: #000000;
    font-weight: bold;
   
}

.btn:hover{
    background: #ffffff;
    color: #000;
    transition: .4s;
}